h1 {
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 95px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    padding-bottom: 20px;
    color: white;
}

#hands {
    font-size: 60px;
    text-align: center;
    letter-spacing: 40px;
    padding-bottom: 60px;
    color: whitesmoke;

}

#header-container {
    background-color: black;
    height: 600px;
    width: 100%;
    padding-top: 0;
}

#rules {
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    font-size: 50px; 
    line-height: 32px;
    padding-top: 80px;
    text-decoration: overline;
}

#video {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 30px;
}

#choice-section {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    line-height: 60px;
    padding-top: 60px;
}

#result {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    line-height: 32px;
}

#game-section {
    background-color: black;
    height: 600px;
    width: 100%;
    padding-top: 20px;
}

/* button styling with hovers */
#buttons {
    text-align: center;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rock {
    background-color: darkgray;
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 10em;
    height: 6em;
    border: 4px double #000;
    border-radius: 10px;
}

#rock:hover {
    background-color: rgb(69, 66, 66);
    transition: 0.7s;
}

#paper {
    background-color: whitesmoke;
    color: black;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 10em;
    height: 6em;
    border: 4px double #000;
    border-radius: 10px;
}

#paper:hover {
    background-color: rgb(186, 182, 182);
    transition: 0.7s;
}

#scissors {
    background-color: rgb(245, 78, 78);
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 10em;
    height: 6em;
    border: 4px double #000;
    border-radius: 10px;
}

#scissors:hover {
    background-color: rgb(245, 15, 15);
    transition: 0.7s;
}

#lizzard {
    background-color: rgb(108, 163, 115);
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 10em;
    height: 6em;
    border: 4px double #000;
    border-radius: 10px;
}

#lizzard:hover {
    background-color: green;
    transition: 0.7s;
}

#spock {
    background-color: rgb(109, 132, 176);
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 10em;
    height: 6em;
    border: 4px double #000;
    border-radius: 10px;
}

#spock:hover {
    background-color: blue;
    transition: 0.7s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    h1 {
        font-size: 85px;
    }

    #hands {
        font-size: 40px;
        letter-spacing: 20px;
    }

    #choice-section {
        font-size: 20px; 
        line-height: 20px;
        padding-top: 20px;
    }
    }
    @media screen and (max-width: 500px) {
        #rules {
            font-size: 30px; 
            line-height: 22px;
            padding-top: 70px;
        }
        #hands {
            font-size: 30px;
            letter-spacing: 15px;
        }
        h1 {
            font-size: 75px;
        }

       #rules {
            font-size: 30px; 
            line-height: 22px;
            padding-top: 70px;
        }
    }

    @media screen and (max-width: 400px) {

        #hands {
            font-size: 20px;
            letter-spacing: 15px;
        }
        h1 {
            font-size: 55px;
        }

        #rock {
            font-size: 1em;
            letter-spacing: 1px;
            font-weight: bolder;
            width: 7em;
            height: 4em;
            border: 4px double #000;
            border-radius: 10px;
        }

        #paper {
            font-size: 1em;
            letter-spacing: 1px;
            font-weight: bolder;
            width: 7em;
            height: 4em;
            border: 4px double #000;
            border-radius: 10px;
        }

        #scissors {
            font-size: 1em;
            letter-spacing: 1px;
            font-weight: bolder;
            width: 7em;
            height: 4em;
            border: 4px double #000;
            border-radius: 10px;
        }
        #lizzard {
            font-size: 1em;
            letter-spacing: 1px;
            font-weight: bolder;
            width: 7em;
            height: 4em;
            border: 4px double #000;
            border-radius: 10px;
        }

        #spock {
            font-size: 1em;
            letter-spacing: 1px;
            font-weight: bolder;
            width: 7em;
            height: 4em;
            border: 4px double #000;
            border-radius: 10px;
        }  
    }